@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap");

.header-container {
  background-color: #3c94b8;
  height: 4rem;
  /*text-align: center;
   justify-content: left;
  align-items: center;
  align-content: center; */
  display: grid;
  grid-column: 1fr 1fr;
  grid-row: 1fr;
  grid-template-areas: "left right";
  padding: 0 4vw;
}

.menu-option {
  text-decoration: none;
  text-align: center;
  color: #224158;
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}

.header-container .right a {
  margin-left: 2rem;
}

.header-container .right {
  justify-self: right;
  align-self: center;
  grid-area: right;
}

.header-container .left {
  justify-self: left;
  align-self: center;
  grid-area: left;
}

.main-container {
  height: 80rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: initial;
  flex-direction: column;
}

.main-container .avatar-image {
  margin-top: 4rem;
  width: 10rem;
  border-radius: 10rem;
}

.main-container .aboutme-text {
  margin-top: 3rem;
  align-items: center;
  text-align: center;
  font-size: 30px;
  color: #84aab3;
  font-family: "Montserrat", sans-serif;
}
